.item__button {
  width: 22px;
  height: 19px;
  padding: 0;
  background-image: url(../../../images/item__button.svg);
  background-color: #fff;
  border: none;
}

.item__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.item__button:active {
  background-image: url(../../../images/item__button_active.svg);
}
