.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: calc(74px + 45px);
  box-sizing: border-box;

  padding: 45px 200px 0 200px;
}

@media (max-width: 320px) {
  .header {
    padding: 28px 19px 0 19px;
    max-height: 56px;
  }
}
