.header {
  grid-area: header;
  display: grid;
  grid-template-rows: 33px 41px;
  grid-template-columns: 100%;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  padding: 45px 200px 0 200px;
}

@media (max-width: 1279px) {
  .header {
    padding: 40px 70px 0 70px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 28px 19px 0 19px;
    grid-template-rows: 24.4px 31.6px;
  }
}
