.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: calc(100vw - 200px * 2);
  padding: 40px 200px 66px 200px;
  margin: 0 auto;
}

@media (max-width: 320px) {
  .content {
    padding: 42px 19px 48px 19px;
  }
}
