.form__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  height: 27px;
  margin-bottom: 25px;
  padding: 0 0 4px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
