.container {
  width: 100%;
  max-width: calc(1280px - 200px * 2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-auto-flow: row;
  justify-items: stretch;
  gap: 17px 20px;
}

@media (max-width: 320px) {
  .container {
    gap: 20px;
  }
}
